* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #1c6ceb;
  animation: day-night 20s linear none infinite;
}

@keyframes day-night {
  0% {
    background-color: #1c6ceb;
  }
  40% {
    background-color: #4a0e68;
  }
  50% {
    background-color: #0a0332;
  }
  80% {
    background-color: #741123;
  }
  100% {
    background-color: #1c6ceb;
  }
}

#sun {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 5vh;
  left: 50vw;
  background-image: url(src/img/sun.png);
  background-size: cover;
  animation: sun 20s linear none infinite;
}

@keyframes sun {
  0% {
    top: 5vh;
    left: 50vw;
  }
  49%{
    opacity: 1;
  }
  50% {
    top: -20vh;
    opacity: 0;
  }
  51% {
    top: 100vh;
  }
  55%{
    opacity: 1;
  }
  100% {
    top: 5vh;
    left: 50vw;
  }
}

#moon {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 5vh;
  left: 50vw;
  background-image: url(src/img/moon.png);
  background-size: cover;
  animation: moon 20s linear none infinite;
}

@keyframes moon {
  0% {
    top: 100vh;
    left: 50vw;
    opacity: 0;
  }
  50% {
    top: 5vh;
    left: 50vw;
    opacity: 1;
  }
  100% {
    top: -35vh;
    left: 50vw;
    opacity: 0;
  }
}

#wave {
  position: absolute;
  height: 250px;
  width: 200vw;
  background-image: url(src/img/wave.png);
  left: 0;
  bottom: 0;
  animation-name: waves;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes waves {
  0% {
    left: 0;
  }
  50% {
    bottom: -20px;
  }
  100% {
    left: -500px;
  }
}

#boat {
  position: absolute;
  height: 200px;
  width: 200px;
  background-image: url(src/img/boat.png);
  background-size: cover;
  bottom: 30px;
  left: 50vw;
  animation-name: boat;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes boat {
  0% {
    bottom: 50px;
    transform: rotate(0deg);
    left: 50vw;
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    bottom: 10px;
    transform: rotate(0deg);
    left: 48vw;
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    bottom: 50px;
    transform: rotate(0deg);
    left: 50vw;
  }
}


#clouds {
  height: 500px;
  width: 200vw;
  position: absolute;
  top: 5vh;
  left: 50vw;
  background-image: url(src/img/clouds.png);
  background-size: contain;
  animation: clouds 10s linear none infinite;
  opacity: 0.1;
}

@keyframes clouds {
  0% {
    left: 0;
  }
  100% {
    left:-500px;
  }
}

#stars {
  height: 500px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(src/img/stars.png);
  opacity: 0;
  animation: stars 20s linear none infinite;
}

@keyframes stars {
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}